<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="cnpjID" #PJID="ngModel" [(ngModel)]="service.formData.cnpjID">
  <div class="form-group">
    <label>Nome Fantasia</label>
    <input name="NomeFantasia" #NomeFantasia="ngModel" [(ngModel)]="service.formData.NomeFantasia" class="form-control" required>
    <div class="validation-error" *ngIf="NomeFantasia.invalid && NomeFantasia.touched">This field is required.</div>
  </div>  
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form>